



.container-grid{
    display: flex;
    justify-content: center;
    height: 90vh;
    
    width: 62vw;
    align-items: center;
    margin-inline:auto;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color:#8b8b8b;
    gap: 2rem;
}
.blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.sawiro{
    display: flex;
    height:20vh;
    padding: 10px;
    width: 15vw;
    gap: 30px;
    margin-top: 3rem;
}
.sawiro img{
    height: 100%;
    width: 100%;
}
.title-grid{
    font-size: 2rem;
    
      font-weight: bolder;
      padding-bottom: 1rem;
      
      
}
.blog p{
    font-size: 1.05rem;
    margin-bottom: -2rem;
    cursor: #8b8b8b;

}
.blog h4{
    font-size: 1.25rem;
    padding-bottom: 1rem;
    color: #ff5751;
    text-transform: uppercase;
}
.left-img{
    display: flex;
    position: relative;
    
    justify-content: center;
  
}


.youtupe{
    display: flex;
    background-color: red;
    align-self:self-start;
    width: 5vw;
    position:absolute;
    padding: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    bottom: 14rem; 
    color: #fff;

}