
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Heebo:wght@100..900&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.hamburger{
    display: none;
}
 .container{
      width: min(90% 1150px);
    margin-inline: auto;
 }



.container-grid{
    display: flex;
    justify-content: center;
    height: 90vh;
    
    width: 65vw;
    align-items: center;
    margin-inline:auto;
    
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
   
}
.sawiro{
    display: flex;
    height:20vh;
    padding: 10px;
    width: 15vw;
    gap: 30px;
    margin-top: 3rem;
}
.sawiro img{
    height: 100%;
}
.title-grid{
    font-size: 2rem;
    
      font-weight: bolder;
      padding-bottom: 1rem;
      font-weight: bolder;
}
.blog p{
    font-size: 1.05rem;
    margin-bottom: -2rem;
    cursor: #8b8b8b;

}
.blog h4{
    font-size: 1.25rem;
    padding-bottom: 1rem;
    color: #ff5751;
    text-transform: uppercase;
    margin-top: 3rem;
}
.left-img{
    display: flex;
    position: relative;
    
    justify-content: center;
    align-items: center;
 
}
.left-img img{
    width: 95%;
    height: 85%;
}
.youtupe{
    display: flex;
    background-color: red;
    align-self:self-start;
    width: 5vw;
    position:absolute;
    padding: 1rem;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    bottom: 15rem; 
    color: #fff;

}
@media  (min-width:480px) and  (max-width:1030px ){
    
}