



.container-grid{
    display: flex;
    justify-content: center;
    height: 90vh;
    
    width: 62vw;
    align-items: center;
    margin-inline:auto;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}