


.menu-rest{
            display: flex;
            flex-direction: column;
            
            width: 99vw;
            height: 100vh;
             background-color: #fffafa;
             position: relative;
           

                        
        }