
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
img{
    width: 100%;
    height: 100%;
}
.hamburger{
    display: none;
}
 .container{
      width: min(90% 1150px);
    margin-inline: auto;
 }


.menu-rest{
            display: flex;
            flex-direction: column;
            
            width: 99vw;
            height: 100vh;
             background-color: #fffafa;
             position: relative;
           

                        
        }

        
.slider-arrows {
  position: absolute;
  margin-bottom: 10px;
  /* bottom: 0; */
  transform: translateY(-50%);
  /* background: #e74c3c; */
  color:#d24b4b;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
  
  
}
.slider-arrows.rights {
  left: 50%;
  bottom: 0;
  
  
}
.slider-arrows.lefts {
  right: 50%;
  bottom: 0;
}
.slider-arrows:hover {
  background: #c0392b;
}
.slick-arrows{
    display: block;
}
        
        

.menu-rest h4{
             padding: 0 3rem 0 2rem;
             color: #d24b4b;
             margin-bottom: -3rem;
             text-transform: uppercase;
             
             
        }
.top-side{
 width: 50vw;
align-items: center;
 padding-right: 2rem;
display: flex;
flex-direction: column;
margin: 1%;    
        }
.descript{
            font-size: 2rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            padding: 2rem;
        }
.slider-container img{
height: 100%;
width: 100%;}  
        /* Weelka weyn ee slider-ka */
.slider-container {
            /* width: 10%; */
overflow: hidden;
background: white;
            /* padding: 20px 0; */
box-shadow: 0 5px 15px rgba(0,0,0,0.05);
width: 99vw;
             /* background-color: blue; */
margin-top: 3rem;
             
background-color: #fffafa;
display: flex;
gap: 0;
justify-content: flex-start;
        }
        /* Safka kaararka ee soconaya */
        
.slider-track {
display: flex;
width: max-content;
animation: walk 18s infinite;
}
@keyframes walk {
  /* socod */
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-10%); }

  /* hakad */
  25%  { transform: translateX(-10%); }

  /* socod kale */
  45%  { transform: translateX(-25%); }

  /* hakad */
  50%  { transform: translateX(-25%); }

  /* socod */
  70%  { transform: translateX(-40%); }

  /* hakad */
  75%  { transform: translateX(-40%); }

  /* dhammaad */
  100% { transform: translateX(-50%); }
}


         /* Marka Mouse-ka la dul dhigo, slider-ku wuu istaagayaa */
.slider-track:hover {
animation-play-state: paused;}
        /* Qaabka kaarka */
.card {
position: relative;
width: 240px;
height: 50vh;
margin: 0 10px;
flex-shrink: 0;
overflow: hidden;
border-radius: 10px;}
.card img {
width: 100%;
height: 100%;
object-fit: cover;}
.price-tag {
 position: absolute;
top: 0;
left: 0;
background-color: #ff5757;
color: white;
padding: 5px 15px;
font-weight: bold;
border-radius: 4px;
z-index: 5;
font-size: 2rem;
        }
        /* Overlay-ga (Kaliya bar ayuu daboolayaa) */
.overlay {
position: absolute;
bottom: -60%;
left: 0;
width: 100%;
height: 45%;
background-color: rgba(255, 87, 87, 0.95);
color: white;
display: flex;
flex-direction: column;
justify-content: center;
padding: 15px;
box-sizing: border-box;
transition: bottom 0.4s ease-in-out;
        }
.card:hover .overlay {
bottom: 0;
           
}
.overlay h3 {
margin: 0 0 5px 0;
font-size: 1.1rem;
color: gold;
          
}
.overlay p {
font-size: 0.85rem;
margin: 0;
        }
span{
margin-top:  1.7rem;
color:blue;
        }

        /* Animation-ka socodka */
@keyframes scroll {
0% { transform: translateX(0); }
100% { transform: translateX(-50%); } /* Kala badh tirada kaararka */
        }

        @media  (min-width:480px) and  (max-width:1030px ){

            
        .menu-rest{
            display: flex;
            flex-direction: column;
            
            width: 99vw;
            height: 70vh;
             background-color: #fffafa;
             position: relative;
           

                        
        }

        
                .slider-arrows {
  position: absolute;
  margin-bottom: 10px;
  /* bottom: 0; */
  transform: translateY(-50%);
  /* background: #e74c3c; */
  color:#d24b4b;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
  
  
}.slider-arrows.rights {
  left: 50%;
  bottom: 13%;
  
  
}

.slider-arrows.lefts {
  right: 50%;
  bottom: 13%;
}

.slider-arrows:hover {
  background: #c0392b;
}
.slick-arrows{
    display: block;
}
        .slider-container img{
            height: 100%;
            width: 100%;
        }
        Weelka weyn ee slider-ka
        .slider-containers {
            /* width: 10%; */
            overflow: hidden;
            background: white;
            /* padding: 20px 0; */
            box-shadow: 0 5px 15px rgba(0,0,0,0.05);
             width: 99vw;
             /* background-color: blue; */
             margin-top: 3rem;
             
             background-color: #fffafa;
             display: flex;
             gap: 0;
             justify-content: flex-start;
        }
          /* Safka kaararka ee soconaya */
        

            .slider-tracks {
  display: flex;
  width: max-content;
  animation: walk 38s infinite;
}

@keyframes walk {
  /* socod */
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-10%); }

  /* hakad */
  25%  { transform: translateX(-10%); }

  /* socod kale */
  45%  { transform: translateX(-25%); }

  /* hakad */
  50%  { transform: translateX(-25%); }

  /* socod */
  70%  { transform: translateX(-40%); }

  /* hakad */
  75%  { transform: translateX(-40%); }

  /* dhammaad */
  100% { transform: translateX(-50%); }
}
/* Marka Mouse-ka la dul dhigo, slider-ku wuu istaagayaa */
        .slider-track:hover {
            animation-play-state: paused;
        }

        /* Qaabka kaarka */
        .card {
            position: relative;
            width: 210px;
            height: 30vh;
            margin: 0 10px;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 10px;
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
         
        
        .price-tag {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ff5757;
            color: white;
            padding: 20px 15px;
            font-weight: bold;
            border-radius: 4px;
            z-index: 5;
            font-size: 2rem;
        }

         /* Overlay-ga (Kaliya bar ayuu daboolayaa) */
        .overlay {
            position: absolute;
            bottom: -60%;
            left: 0;
            width: 100%;
            height: 45%;
            background-color: rgba(255, 87, 87, 0.95);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
            box-sizing: border-box;
            transition: bottom 0.4s ease-in-out;
            font-size: 2rem;
        }


          .card:hover .overlay {
            bottom: 0;
           
        }
         /* Overlay-ga (Kaliya bar ayuu daboolayaa) */
        .overlay {
            position: absolute;
            bottom: -60%;
            left: 0;
            width: 100%;
            height: 45%;
            background-color: rgba(255, 87, 87, 0.95);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
            box-sizing: border-box;
            transition: bottom 0.4s ease-in-out;
            font-size: 2rem;
        }


          .card:hover .overlay {
            bottom: 0;
           
        }


        }
           @media (min-width:481px) and (max-width:1023px) {
            
        .menu-rest{
            display: flex;
            flex-direction: column;
            
            width: 99vw;
            height: 70vh;
             background-color: #fffafa;
             position: relative;
           

                        
        }
        

        
                .slider-arrows {
  position: absolute;
  margin-bottom: 10px;
  /* bottom: 0; */
  transform: translateY(-50%);
  /* background: #e74c3c; */
  color:#d24b4b;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
  
  
}

.slider-arrows.rights {
  left: 50%;
  bottom: -3%;
  
  
}

.slider-arrows.lefts {
  right: 50%;
  bottom: -3%;
}

.slider-arrows:hover {
  background: #c0392b;
}
.slick-arrows{
    display: block;
}
        .slider-container img{
            height: 100%;
            width: 100%;
        }
        Weelka weyn ee slider-ka
        .slider-containers {
            /* width: 10%; */
            overflow: hidden;
            background: white;
            /* padding: 20px 0; */
            box-shadow: 0 5px 15px rgba(0,0,0,0.05);
             width: 99vw;
             /* background-color: blue; */
             margin-top: 3rem;
             
             background-color: #fffafa;
             display: flex;
             gap: 0;
             justify-content: flex-start;
        }

        /* Safka kaararka ee soconaya */
        

            .slider-tracks {
  display: flex;
  width: max-content;
  animation: walk 38s infinite;
}

@keyframes walk {
  /* socod */
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-10%); }

  /* hakad */
  25%  { transform: translateX(-10%); }

  /* socod kale */
  45%  { transform: translateX(-25%); }

  /* hakad */
  50%  { transform: translateX(-25%); }

  /* socod */
  70%  { transform: translateX(-40%); }

  /* hakad */
  75%  { transform: translateX(-40%); }

  /* dhammaad */
  100% { transform: translateX(-50%); }
}


         /* Marka Mouse-ka la dul dhigo, slider-ku wuu istaagayaa */
        .slider-track:hover {
            animation-play-state: paused;
        }

        /* Qaabka kaarka */
        .card {
            position: relative;
            width: 370px;
            height: 39vh;
            margin: 0 10px;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 10px;
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        .price-tag {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ff5757;
            color: white;
            padding: 20px 15px;
            font-weight: bold;
            border-radius: 4px;
            z-index: 5;
            font-size: 2rem;
        }

        /* Overlay-ga (Kaliya bar ayuu daboolayaa) */
        .overlay {
            position: absolute;
            bottom: -60%;
            left: 0;
            width: 100%;
            height: 45%;
            background-color: rgba(255, 87, 87, 0.95);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
            box-sizing: border-box;
            transition: bottom 0.4s ease-in-out;
            font-size: 2rem;
        }


          .card:hover .overlay {
            bottom: 0;
           
        }
 /* Overlay-ga (Kaliya bar ayuu daboolayaa) */
        .overlay {
            position: absolute;
            bottom: -60%;
            left: 0;
            width: 100%;
            height: 45%;
            background-color: rgba(255, 87, 87, 0.95);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            box-sizing: border-box;
            transition: bottom 0.4s ease-in-out;
            font-size: 2rem;
        }


          .card:hover .overlay {
            bottom: 0;
           
        }
           }

           @media (max-width:480px ) {
              .menu-rest{
            display: flex;
            flex-direction: column;
            
            width: 99vw;
            height: 85vh;
             /* background-color: #fffafa; */
             position: relative;
            
           

                        
        }

        
                .slider-arrows {
  position: absolute;
  margin-bottom: 10px;
  /* bottom: 0; */
  transform: translateY(-50%);
  /* background: #e74c3c; */
  color:#d24b4b;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
  
  
}

.slider-arrows.rights {
  left: 50%;
  bottom: 0;
  
  
}

.slider-arrows.lefts {
  right: 50%;
  bottom: 0;
}

.slider-arrows:hover {
  background: #c0392b;
}
.slick-arrows{
    display: block;
}

                     .menu-rest h4{
             margin-right: 10rem;
             color: #d24b4b;
             margin-bottom: -3rem;
             text-transform: uppercase;}

  .top-side{
            width: 99vw;
            align-items: center;
         padding-right: 2rem;
            display: flex;
            flex-direction: column;
            margin-top: 6rem;
            
           
            
        }
         .descript {
            font-size: 1.7rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bolder;
            padding: 1rem;
            color: #000;
            margin-top: 3rem;
          
        }
                 /* Weelka weyn ee slider-ka */
        .slider-container {
            /* width: 10%; */
            overflow: hidden;
            background: white;
            /* padding: 20px 0; */
            box-shadow: 0 5px 15px rgba(0,0,0,0.05);
             width: 99vw;
             /* background-color: blue; */
             margin-top: 3rem;
             
             background-color: #fffafa;
             display: flex;
             gap: 0;
             justify-content: flex-start;
        }
        /* Safka kaararka ee soconaya */
            .slider-track {
  display: flex;
  width: max-content;
  animation: walk 18s infinite;
  
}
@keyframes walk {
  /* socod */
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-10%); }

  /* hakad */
  25%  { transform: translateX(-10%); }

  /* socod kale */
  45%  { transform: translateX(-25%); }

  /* hakad */
  50%  { transform: translateX(-25%); }

  /* socod */
  70%  { transform: translateX(-40%); }

  /* hakad */
  75%  { transform: translateX(-40%); }

  /* dhammaad */
  100% { transform: translateX(-50%); }
}
         /* Marka Mouse-ka la dul dhigo, slider-ku wuu istaagayaa */
        .slider-track:hover {
            animation-play-state: paused;
        }

        /* Qaabka kaarka */
        .card {
            position: relative;
            width: 310px;
            height: 40vh;
            margin: 0 10px;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 10px;
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        .price-tag {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #ff5757;
            color: white;
            padding: 5px 15px;
            font-weight: bold;
            border-radius: 4px;
            z-index: 5;
            font-size: 2rem;
        }

        /* Overlay-ga (Kaliya bar ayuu daboolayaa) */
        .overlay {
            position: absolute;
            bottom: -60%;
            left: 0;
            width: 100%;
            height: 45%;
            background-color: rgba(255, 87, 87, 0.95);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 15px;
            box-sizing: border-box;
            transition: bottom 0.4s ease-in-out;
        }


          .card:hover .overlay {
            bottom: 0;
           
        }

        .overlay h3 {
            margin: 0 0 5px 0;
            font-size: 1.1rem;
            color: gold;
          
        }

        .overlay p {
            font-size: 0.85rem;
            margin: 0;
        }
         span{
            margin-top:  1.7rem;
            color:blue;
        }
        /* Animation-ka socodka */
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(-50%); } /* Kala badh tirada kaararka */
        }
           }