
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Heebo:wght@100..900&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.hamburger{
    display: none;
}
 .container{
      width: min(90% 1150px);
    margin-inline: auto;
 }


.menu-rest{
            display: flex;
            flex-direction: column;
            
            width: 99vw;
            height: 100vh;
             background-color: #fffafa;
             position: relative;
           

                        
        }
        slider-arrows {
  position: absolute;
  margin-bottom: 10px;
  /* bottom: 0; */
  transform: translateY(-50%);
  /* background: #e74c3c; */
  color:#d24b4b;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
  
  
}
.slider-arrows.rights {
  left: 50%;
  bottom: 0;
  
  
}
.slider-arrows.lefts {
  right: 50%;
  bottom: 0;
}
.slider-arrows:hover {
  background: #c0392b;
}
.slick-arrows{
    display: block;
}
.menu-rest h4{
             padding: 0 3rem 0 2rem;
             color: #d24b4b;
             margin-bottom: -3rem;
             text-transform: uppercase;
             
             
        }