@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Heebo:wght@100..900&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.hamburger{
    display: none;
}
 .container{
      width: min(90% 1150px);
    margin-inline: auto;
 }
eader{
    background-color:#fff;
    box-shadow: 0  0 10px rgba(55, 55, 55, 0.4);
     /* box-shadow: 0 2px 2px  rgba(0,0,0,1); */
    height: 6.4rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
     z-index: 11111;
    
}
.menu{
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 2rem;
}