@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Heebo:wght@100..900&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.hamburger{
    display: none;
}
 .container{
      width: min(90% 1150px);
    margin-inline: auto;
 }
header{
    background-color:#fff;
    box-shadow: 0  0 10px rgba(55, 55, 55, 0.4);
     /* box-shadow: 0 2px 2px  rgba(0,0,0,1); */
    height: 6.4rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
     z-index: 11111;}

.menu{
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 2rem;
}
.mobile-menu{
    display: none;
}
.desketop-menu{
    height: 100%;
display: flex;


align-items: center;
   
}
.desketop-menu li{
    list-style: none;

}
.desketop-menu a{
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
   color: black;
   padding: 1rem;
   cursor: pointer;

     
}
.desketop-menu a:hover{
    
    color: #fd211b;
}
.container-fluid{ 

}
/* NAVBAR */
.navbar {
  padding: 20px 40px;
  background: #fff;
}
.nav-menu {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #d24b4b;
  font-weight: 500;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  width: 200px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border-radius: 4px;
  display: none;
  padding: 10px 0;
}
.dropdown-menu li {
  list-style: none;
}
.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #444;
  text-decoration: none;
  font-size: 14px;
}
.dropdown-menu a:hover {
  background: #f5f5f5;
  color: #d24b4b;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
@media  (min-width:480px) and  (max-width:1030px ){

                .mobile-menu{
                    display: none;
                }
                .hamburger{
                    display: none;
                }
                     header{
    background-color:#fff;
    box-shadow: 0  0 10px rgba(55, 55, 55, 0.4);
     /* box-shadow: 0 2px 2px  rgba(0,0,0,1); */
    height: 6.4rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 0.5rem;
     z-index: 11111;
    
}
.menu{
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 2rem;
}
.mobile-menu{
    display: none;
}
.desketop-menu{
    height: 100%;
display: flex;
align-items: center;
   
}
.desketop-menu li{
    list-style: none;

}
desketop-menu a{
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
   color: black;
   padding: 0.7rem;
   cursor: pointer;

     
}
.desketop-menu a:hover{
    color: #fd211b;
}
.logo{

    font-size: 2rem;
    
}
/* NAVBAR */
.navbar {
  padding: 20px 40px;
  background: #fff;
}

.nav-menu {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #d24b4b;
  font-weight: 500;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: #fff;
  width: 200px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border-radius: 4px;
  display: none;
  padding: 10px 0;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #444;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background: #f5f5f5;
  color: #d24b4b;
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown-menu {
  display: block;
}
.logo{

    font-size: 2rem;
    
}

            }
                          /* mobile screen */
@media (max-width:480px ) {
            
    .desketop-menu{
        display: none;}
                i {
              z-index: 11111;}
           
      .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #5f6ad4;
        color: white;
        /* padding: 15px; */
        width: 50px;
        height: 50px;
        top: 7%;
        right: 5%;
        border-radius: 50%;
        font-size: 2rem;
     }
     .mobile-menu {
        display: flex;
        justify-content: center;
        position: fixed;
        background-color:rgb(13, 13, 13);
        inset: 0 0 0 0;
        color: rgb(245, 35, 7);
        transform: translateX(0%);
        transition: transform 350ms ease-in-out;
        height: 50vh;
        
        
        
        }

       .mobile-menu[data-visible="false"] {
        transform: translateX(100%);
         }

        .hamburger i[data-visible="true"]{
        display: block;
     }

     .hamburger i[data-visible="false"]{
            display: none;
     }

    }