
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
img{
    width: 100%;
    height: 100%;
}
.hamburger{
    display: none;
}
 .container{
      width: min(90% 1150px);
    margin-inline: auto;
 }

.about-us{
     width: 989px;
    height: 522px;
}

.container-grid{
    display: flex;
    justify-content: center;
    height: 90vh;
    
    width: 99vw;
    align-items: center;
    margin-inline:auto;
    margin-right: -15px;
    margin-left: -15px;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.blog{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 515px;
   
    padding: 1rem;
   
}

.sawiro{
   width: 130px;
   height: 130px;
   display: flex;
   gap: 30px;
}
.sawiro img{
    height: 100%;
    width: 100%;
}
.title-grid{
    font-size: 2rem;
    
      font-weight: bolder;
      padding-bottom: 1rem;
      font-weight: bolder;
}
.blog p {
    font-size: 14px !important;
    margin-bottom: -2rem;
    cursor: #8b8b8b ;
    width: 449px;
    color: #2a2a2a;
    margin: 0px 0px 25px !important;
    height: 255px;
    
    

}
.blog p a{
    text-decoration: none;
    color: #0470fd;
}
.blog h6{
    font-size: 0.9375rem;
    padding: 0px 0px 0px 40px;
    color: #ff5751;
    text-transform: uppercase;
    /* margin-top: 3rem; */
}
.blog h2{
    font-size: 1.875rem;
    margin: 20px 0px 25px;

    padding: 0px 120px 0px 0px;
    width: 450px;
    color: #2a2a2a;
    font-weight: 900;
}
.left-img{
    display: flex;
    position: relative;
    
    justify-content: center;
    align-items: center;
 
}
.left-img img{
    width: 95%;
    height: 85%;
}
.youtupe{
    display: flex;
    background-color: red;
    align-self:self-start;
    width: 5vw;
    position:absolute;
    padding: 1rem;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    bottom: 15rem; 
    color: #fff;

}
@media  (min-width:480px) and  (max-width:1030px ){
    .container-grid{
    display: flex;
    justify-content: center;
    height: 65vh;
    
    width: 75vw;
    align-items: center;
    margin-inline:auto;
   
    margin-bottom: 3rem;
    margin-top: -6rem;
    
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    height: 20%;
    gap: 2rem;
    flex-wrap: wrap;
}
.blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    /* padding: 1rem; */
    top: 60%;
    
}
.sawiro{
    display: flex;
    height:20vh;
    
    width: 30vw;
    gap: 20px;
    margin-top: 3rem;
}
.sawiro img{
    height: 65%;
}
.title-grid{
    font-size: 2rem;
    
      font-weight: bolder;
      padding-bottom: 1rem;
}
.blog p{
    font-size: 1.45rem;
    margin-bottom: -2rem;
    cursor: #8b8b8b;

}

.blog h4{
    font-size: 1.25rem;
    padding-bottom: 1rem;
    color: #ff5751;
    text-transform: uppercase;
}
.left-img{
    display: flex;
    position: relative;
    
    justify-content: center;
 height: 45%;
 width: 38vw;
 margin-top: 1rem;
}
.youtupe{
    display: flex;
    background-color: red;
    align-self:self-start;
    width: 5vw;
    position:absolute;
    padding: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    bottom: 8rem; 
    color: #fff;

}
}
 @media (min-width:481px) and (max-width:1023px) {
    .container-grid{
    display: flex;
    justify-content: center;
    height: 75vh;
    
    width: 85vw;
    align-items: center;
   margin-top: 3rem;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    height: 100%;
    gap: 2rem;
   flex-wrap: wrap;
   
}
.blog{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    /* padding: 1rem; */
    top: 60%;
    
}
.sawiro{
    display: flex;
    height:20vh;
    
    width: 30vw;
    gap: 20px;
    margin-top: 3rem;
}
.sawiro img{
    height: 49%;
}
.title-grid{
    font-size: 2rem;
    
      font-weight: bolder;
      padding-bottom: 1rem;
}
.blog p{
    font-size: 1.15rem;
    margin-bottom: -2rem;
    cursor: #8b8b8b;

}

.blog h4{
    font-size: 1.25rem;
    padding-bottom: 1rem;
    color: #ff5751;
    text-transform: uppercase;
}
.left-img{
    display: flex;
    position: relative;
    
    justify-content: center;
 height: 45%;
 width: 38vw;
}
.youtupe{
    display: flex;
    background-color: red;
    align-self:self-start;
    width: 5vw;
    position:absolute;
    padding: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    bottom: 8rem; 
    color: #fff;

}   
.left-img{
    height: 30vh;
    padding-top: 1rem;
}      
    
}
@media (max-width:480px ) {
    .container-grid{
    display: flex;
    justify-content: center;
    height: 90vh;
    
    width: 97vw;
    align-items: center;
    margin-inline:auto;
}
.main{
   display: flex;
   flex-direction: column;}
  
.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.sawiro{
    display: flex;
    height:15vh;
    padding: 10px;
    width: 30vw;
    gap: 30px;
    margin-top: 3rem;
}
.sawiro img{
    height: 100%;
}
.title-grid{
    font-size: 2rem;
    
      font-weight: bolder;
      padding-bottom: 1rem;
}
.blog p{
    font-size: 1.2rem;
    margin-bottom: -2rem;
    cursor: #8b8b8b;

}

.blog h4{
    font-size: 1.25rem;
    padding-bottom: 1rem;
    color: #ff5751;
    text-transform: uppercase;
}
.left-img{
    display: flex;
    position: relative;
    
    justify-content: center;
 
}
.youtupe{
    display: flex;
    background-color: red;
    align-self:self-start;
    width: 5vw;
    position:absolute;
    padding: 1rem;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    bottom: 11rem; 
    color: #fff;

}
}

 