@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    .container{
        width: min(90%, 1200px);
        margin-inline: auto;
    }
    .contact-us{
        margin-top: 120px ;
        padding-block: 120px;
        background: url("../images/reservation-bg.jpg") no-repeat center/cover;
    }