            
            
            
            
            
            
            
            
            
            
                        <div class="contact-left">
                <h6>Contact Us</h6>
                <h2>Here You Can Make A Reservation Or Just walkin to our cafe</h2>
                <p>Donec pretium est orci, non vulputate arcu hendrerit a. Fusce a eleifend riqsie, namei sollicitudin urna diam, sed commodo purus porta ut.</p>
                <div class="contact-left-mess ">
                    <div class="phone message">
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <h4>Phone Numbers</h4>
                        <a href="#">080-123456789</a><br>
                        <a href="#">080-123456789</a>
                    </div>
                    <div class="email message">
                        <div class="icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <h4>Emails</h4>
                        <a href="#">info@klassy.com</a> <br>
                        <a href="#">contact@klassy.com</a>
                    </div>
                </div>
            </div>
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <div class="contact-right">
                <h4>Table Reservation</h4>
                <form action="#">
                    <div>
                        <input type="text" placeholder="Your Name">
                        <input type="email" placeholder="Your Email Address">
                    </div>
                    <div>
                        <input type="tel" placeholder="Phone Number">
                        <select name="guests" id="guests">
                            <option value="">number of guests</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                    <div>
                        <input type="date" >
                        <select name="time" id="time">
                            <option value="">Time</option>
                            <option value="breakfast">Breakfast</option>
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Dinner</option>
                        </select>
                    </div>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn-primary">Make A Reservation</button>
                </form>
            </div>