* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}
.meal-container {
  padding-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meal-info {
  width: 480px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 70px;
}
.meal-info h6 {
  text-transform: uppercase;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
}
.meal-info h2 {
  margin-block: 20px 25px;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 900;
}