* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}
.meal-container {
  padding-top: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meal-info {
  width: 480px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 70px;
}
.meal-info h6 {
  text-transform: uppercase;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
}
.meal-info h2 {
  margin-block: 20px 25px;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 900;
}
.meal-icons {
  display: flex;
  text-align: center;
  cursor: pointer;
}
.meal-icons .icon-box {
  margin: 0 15px;
}
.icon-box img {
  margin-bottom: 15px;
}
.icon-box a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 600;
  font-size: 14px;
}
.icon-box a:hover {
  color: #fb5849;
}
.meal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-inline: 15px;
}
.meal-left-content,
.meal-right-content {
  margin: 0 15px;
}
.meal-box {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  padding-inline: 15px;
  justify-content: space-between;
}
.meal-box img {
  border-radius: 5px;
  margin-right: 15px;
}
.box-info h4 {
  font-size: 20px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 10px;
}
.box-info p {
  font-size: 14px;
  color: #2a2a2a;
  font-weight: 400;
}
.meal-box .price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #fb5849;
  font-weight: 700;
  color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 5px;
  padding: 0 15px;
}